<a href="https://colab.research.google.com/github/kaihcodes/top_baby_names/blob/main/topbabynames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://public.tableau.com/app/sample-data/TopBabyNamesbyState.csv')
df.head(30)
df.tail(30)
df.info()
#no nulls
#count state, count year min max sort, unique top names
df.head(50)
df['Top Name'].nunique()
df['State'].nunique()
df['State'].value_counts()
#there are 51 states? DC
min(df['Year'])
max(df['Year'])
df.describe()

max(df['Occurences'])
df[df['Occurences'] == 10023]

df['Top Name'].nunique()
df['Top Name'].value_counts().head(50)
df[df['Top Name'] == 'Joe']

#check if there are duplicates, no duplicates detected
df.duplicated(keep=False).value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10506 entries, 0 to 10505
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       10506 non-null  object
 1   Gender      10506 non-null  object
 2   Year        10506 non-null  int64
 3   Top Name    10506 non-null  object
 4   Occurences  10506 non-null  int64
dtypes: int64(2), object(3)
memory usage: 410.5+ KB

False    10506
Name: count, dtype: int64

In [2]:
#most popular name by state, all time, year
df.groupby(['Top Name'])['Occurences'].sum().sort_values(ascending=False)
#mary, michael, james, jennifer are some of the most popular names
df1 = df.groupby(['State','Top Name'])['Occurences'].sum().reset_index().sort_values(by=['State','Occurences'],ascending=[True,False])
df1.groupby(['State'])['Occurences'].idxmax()
df1.loc[df1.groupby(['State'])['Occurences'].idxmax()]
#most popular names by state
#divide by gender
df2 = df.groupby(['State','Gender','Top Name'])['Occurences'].sum().reset_index().sort_values(by=['State','Gender','Occurences'],ascending=[True,True,False])
df2.groupby(['State','Gender'])['Occurences'].idxmax()
df2.loc[df2.groupby(['State','Gender'])['Occurences'].idxmax()].head(50)

    State Gender  Top Name  Occurences
11     AK      F      Mary        2140
25     AK      M   Michael        4056
36     AL      F      Mary       99436
38     AL      M     James      128400
54     AR      F      Mary       45043
58     AR      M     James       69013
72     AZ      F      Mary       16188
83     AZ      M   Michael       25691
90     CA      F  Jennifer       83125
102    CA      M   Michael      283923
115    CO      F      Mary       19381
124    CO      M   Michael       31932
135    CT      F      Mary       17888
144    CT      M   Michael       43273
160    DC      F      Mary       15671
164    DC      M   Michael       20796
180    DE      F      Mary        4724
188    DE      M   Michael        8153
199    FL      F      Mary       37008
205    FL      M   Michael       91512
218    GA      F      Mary      104038
221    GA      M     James      136701
232    HI      F  Jennifer        2950
251    HI      M   Michael        8853
267    IA      F      Mary       43365
282    IA      M    Robert       36908
288    ID      F  Jennifer        4083
311    ID      M   Michael        7435
323    IL      F      Mary      150587
331    IL      M   Michael      201422
343    IN      F      Mary       67171
356    IN      M   Michael       54561
371    KS      F      Mary       25470
386    KS      M    Robert       23513
400    KY      F      Mary       80072
405    KY      M     James      115565
421    LA      F      Mary       63168
426    LA      M     James       42457
441    MA      F      Mary       76062
450    MA      M    Robert       77337
462    MD      F      Mary       41887
469    MD      M   Michael       59559
483    ME      F      Mary        6160
501    ME      M    Robert       13719
513    MI      F      Mary       95225
521    MI      M   Michael      128769
533    MN      F      Mary       48963
545    MN      M   Michael       35682
559    MO      F      Mary       78084
567    MO      M   Michael       57232

In [4]:
#build a script to run through a state match, return only matched state
newdf = pd.DataFrame({'Col1': [1,2,3],'Col2': ['AK','CT','HI']})
newdf

df['NewC'] = ''
df.head()

for i in range(10506):
  if df.iloc[i,0] in newdf['Col2'].tolist():
    df.iloc[i,5] = True
  else:
    df.iloc[i,5] = False

df.head()

  State Gender  Year Top Name  Occurences  NewC
0    AK      F  1910     Mary          14  True
1    AK      F  1911     Mary          12  True
2    AK      F  1912     Mary           9  True
3    AK      F  1913     Mary          21  True
4    AK      F  1914     Mary          22  True

In [13]:
df6 = df[df['NewC'] == True]
df6['State'].value_counts()

State
AK    206
CT    206
HI    206
Name: count, dtype: int64